
<div class="jumbotron">
	<h1>AngularJS example</h1>
	<p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
	<p>To see the difference between static and fixed top navbars, just scroll.</p>
	<p>
	<a class="btn btn-lg btn-primary" role="button" href="../../components/#navbar">View navbar docs »</a>
	</p>
</div>

<p>You're logged in!!</p>
<p><a href="#app/login">Logout</a></a></p>
